---
---

@import "{{ site.theme }}";

body {
  font-family: 'Arial', sans-serif;
}

.header-banner {
  background-image: url('/viola.jpg');
  background-size: cover;
  background-position: center;
  padding: 80px 20px; /* controls image area */
  text-align: center;
}

.header-banner h1 {
  background-image: url('/viola.jpg');
  font-family: 'Georgia', serif;
  color: #ffffff;
  font-size: 2.5em;
  margin: 0;
  text-shadow: 2px 2px 4px rgba(0,0,0,0.4);
}

